body{
   background-image: url(../img/floresperez.jpg);
    background-color: green;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attchment: fixed;
    margin:0;
}
.titulo {
  
  color: rgb(21,221,21);
  text-align:center;
}
.caja {
  background-color: rgb(4,4219);
  color: white;
  font-weight: bold;
  padding:10px;
  border:2px solid blue ;
  width:350px;
  height:60px;
}
.caja-enlinea{
  display:inline ;
}
.caja-bloque{
  display:block;
  background-color: bisque ;
}
.caja-enlinea-bloque{
  display:inline-block;
  background-color: aqua;
}